.ui-tabs-vertical { 
    width: 80%;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;
    width: 40em;
}
.monthlyStory{
    position: relative;
    width: 100%;
    height: 360px;
    z-index: 0;
    border-radius: 5px;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
}
.monthlyStory>.ms_head{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.monthlyStory>.ms_imgurl{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 30px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.monthlyStory>.ms_imgurl_input{
    position: absolute;
    width: 60%;
    left: 30%;
    top: 30px;
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.monthlyStory>.ms_title{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 65px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.monthlyStory>.ms_title_input{
    position: absolute;
    width: 60%;
    left: 30%;
    top: 65px;
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.monthlyStory>.ms_content{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 100px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.monthlyStory>.ms_content_area{
    position: absolute;
    width: 60%;
    height: 70%;
    left: 30%;
    top: 100px;
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.recommendedTripDiv{
    position: relative;
    width: 100%;
    height: 360px;
    left: 5px;
    z-index: 0;
    border-radius: 5px;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
    float: left;
}
.recommendedTripDiv>.rt_search>.rt_search_keyword{
    position: absolute;
    width: 20%;
    left: 10px;
    top: 10px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.recommendedTripDiv>.rt_search>.rt_search_input{
    position: absolute;
    width: 50%;
    left: 100px;
    top: 10px;
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.recommendedTripDiv>.rt_search>#searchTripBtn{
    position: absolute;
    width: 10%;
    left: 70%;
    top: 10px;
    font-size: 16px;
    text-align: left;
    color: #000000;
}
.recommendedTripDiv>.tripPickerDiv{
    position: relative;
    width: 90%;
    height: 280px;
    top: 60px;
    left: 10px;
    z-index: 0;
    border-radius: 5px;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
}
.recommendedTripDiv>.tripPickerDiv .picker_select{
    width: 200px;
    height: 260px;
    z-index: 0;
    border-radius: 5px;
    overflow: scroll;
}
.dashboardStatusDiv{
    position: relative;
    width: 90%;
    left: 5%;
    top: 0px;
    height: 20px;
    z-index: 0;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    color: #ff0000;
}
.adminDataDiv{
    position: relative;
    width: 90%;
    left: 5%;
    top: 0px;
    height: 40px;
    z-index: 0;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
}
.adminDataDiv>.admin_password{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.adminDataDiv>.admin_password_input{
    position: absolute;
    width: 60%;
    left: 30%;
    top: 5px;
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.saveConfigDiv{
    position: relative;
    width: 90%;
    left: 5%;
    top: 0px;
    height: 50px;
    z-index: 0;
    background-color: rgba(4, 25, 39, 0.3);
    overflow: hidden;
}
.saveConfigDiv>#saveConfigBtn{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 5px;
    font-size: 18px;
    text-align: center;
    color: #ff0000;
}