body{
   margin: 0 0 0 0;
   background: silver;
}

.topDiv{
   height: 100px;
   background: pink;
}

.LogDiv{
   height: 50px;
   width: 100px;
   float:left;
   background: blue;
}
.LoginDiv{
   height: 50px;
   width: 100px;
   float:right;
}

.LanguageDiv{
   height: 50px;
   width: 150px;
   background: yellow;
   float:right;
}

.CurrencyDiv{
   height: 50px;
   width: 150px;
   background: red;
   float:right;
}








.findMainDiv{
   margin: 0 auto;
   height: 400px;
   width: 1200px;
   background: yellow;
}

.findMainLeftDiv{
   height: 400px;
   width: 600px;
   background: green;
   float:left;
}

.findMainLeftDiv div{
   margin: 20 20 20 20;
   float:left;
}

.findMainRightDiv{
   margin: 0 0 0 0;
   height: 400px;
   width: 600px;
   background: blue;
   float:left;
}


.findDetailDiv{
   display:none;
   margin: 0 auto;
   height: 240px;
   width: 1000px;
   background: red;
}

.findDetailSmallDiv{
   margin: 5px 0 5px 0;
   border-style:solid;
   height: 60px;
   width: 490;
   float:left;
}



.hideButtonDiv{
   margin: 0 auto;
   height: 50px;
   width: 150px;
   background: white;
}

.searchDiv{
   margin: 0 auto;
   height: 50px;
   width: 350px;
   background: brown;
}








.googlemapDiv{
   margin:0 auto;
   width:1200px;
   height:300px;
   background:red;
}

#map {
   height:100%;
   width:100%;
      }

.rsDiv{
   margin:0 auto;
   width:1200px;
   height:300px;
}

.c-label{
    display:inline-block;
    width:100px;
    font-weight:bold;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px 0px 0px 0px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}