body{
   margin: 0 0 0 0;
   background: silver;
}

.topDiv{
   height: 600px;
   background: pink;
}

.LogDiv{
   height: 50px;
   width: 100px;
   float:left;
   background: blue;
}
.LoginDiv{
   height: 50px;
   width: 100px;
   float:right;
}

.LanguageDiv{
   height: 50px;
   width: 150px;
   background: yellow;
   float:right;
}

.CurrencyDiv{
   height: 50px;
   width: 150px;
   background: red;
   float:right;
}

.findDiv{
      position: absolute;
      width:350px;
      height:50px;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;
      background:#f60;
}

.cityDiv{
   margin: 0 auto;
   width: 1200px;
   height: 900px;
   background: yellow;
}

.cityBigDiv{
   margin-left:10px;
   margin-top:10px;
   width: 550px;
   height:250px;
   background: white;
   float:left;
}

.citySmallDiv{
   margin-left:10px;
   margin-top:10px;
   width: 300px;
   height:250px;
   background: purple;
   float:left;
}

.cityBigDiv img{
   width:100%;
   height:100%;
   background-size: cover;
}

.citySmallDiv img{
   width:100%;
   height:100%;
   background-size: cover;
}

.treatyDiv{
   margin: 0 auto;
   width: 1200px;
   height:300px;
   background: blue;
   
}

.treatyDetailDiv {
   margin-left:20px;
   height: 250px;
   width: 350px;
   background: orange;
   float:left;
}

.bottomDiv{
   margin: 0 auto;
   width: 1200px;
   height: 50px;
   background: green;
}


 #map {
        height: 100%;
      }


#locationField, #controls {
        position: relative;
        width: 350px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }



/* mark test */
ul li{
    list-style-type:none;
}

div.tripImgDiv{
    float:left;
}

div.tripTitleDiv{
    float:right;
}
div.tripIntroDiv{
    float:right;
}
/* mark test */