body{
    font-size:28px;
    font-family:cursive;
    margin: 0 0 0 0;
    background: silver;
}


.loginbar{
    height: 10%;
    width: 100%;
    background: pink;
}


.nav{
    height: 10%;
    width: 100%;
    background: red;
}


.content{
    margin: 5% auto;
    height: 100%;
    width: 80%;
    //background: blue;
}

.content ul li div{
    margin: 1% 1%;
    font-size:10px;
    height: 45%;
    width: 18%;
    //background: yellow;
    float: left;
}

.content ul li div img{
    height: 40%;
    width: 100%;

}