body{
   margin: 0 auto;
   width: 1200px;
   //background: silver;
}

.topDiv{
   height: 50px;
   //background: pink;
}

.topCurrencyDiv{
   height: 50px;
   width: 100px;
   //background: pink;
   float:right;
}

.topLanguagesDiv{
   height: 50px;
   width: 100px;
   //background: yellow;
   float:right;
   
}

.topLoginDiv{
   height: 50px;
   width: 100px;
   //background: green;
   float:right;
}

.slideshowDiv{
   height: 550px;
   //background: yellow;
}

.slideshowDiv  img{
   width:100%;
   height:100%;
   background-size: cover;
}


.searchDiv{
   font-size:30px;
   margin:20px;
   height: 50px;
   //background: blue;
}

.searchTxtDiv{
   height: 40px;
   width: 400px;
   //background: yellow;
   float:left;
}

.searchInputDiv{
   height: 40px;
   width: 600px;
   //background: white;
   float:left;
}

.searchInputDiv input{
   font-size:30px;
}

.searchBtnDiv{
   height: 40px;
   width: 100px;
   //background: red;
   float:right;
}

.searchBtnDiv button{
   width:100px;
   height:40px;
   font-size:30px;
}

.cityOutDiv{
   font-size:30px;
   padding-top:10px;
   padding-right:10px;
   padding-left:10px;
   padding-bottom:10px;
   height: 800px;
   //background: orange;
}

.cityInBigDiv{
   margin-left:5px;
   margin-top:5px;
   width: 550px;
   height:250px;
   //background: white;
   float:left;
}

.cityInSmallDiv{
   margin-left:5px;
   margin-top:5px;
   width: 300px;
   height:250px;
   //background: purple;
   float:left;
}

.cityInBigDiv img{
   width:100%;
   height:100%;
   background-size: cover;
}

.cityInSmallDiv img{
   width:100%;
   height:100%;
   background-size: cover;
}

.adOutDiv{
   font-size:30px;
   padding-top:10px;
   padding-right:10px;
   padding-left:10px;
   padding-bottom:10px;
   height: 800px;
   //background: skyblue;
}

.adInBigDiv{
   margin-left:5px;
   margin-top:5px;
   width: 550px;
   height:250px;
   background: green;
   float:left;
}

.adInSmallDiv{
   margin-left:5px;
   margin-top:5px;
   width: 300px;
   height:250px;
   background: yellow;
   float:left;
}

.treatyOutDiv{
   height:250px;
   //background: green;
}

.treatyInDiv{
   margin-left:5px;
   margin-top:5px;
   width: 395px;
   height:240px;
   //background: red;
   float:left;
}

.copyrightDiv{
   height:50px;
   //background: gray;
}