body{
   margin: 0 auto;
   width: 1200px;
   //background: silver;
}

.topDiv{
   height: 50px;
   ////background: pink;
}

.topCurrencyDiv{
   height: 50px;
   width: 100px;
   ////background: pink;
   float:right;
}

.topLanguagesDiv{
   height: 50px;
   width: 100px;
   //background: yellow;
   float:right;
   
}

.topLoginDiv{
   height: 50px;
   width: 100px;
   //background: green;
   float:right;
}




.searchDiv{
   font-size:30px;
   margin:20px;
   height:300px;
   //background: blue;
}

.c-label{
      display:inline-block;
      width:100px;
      font-weight:bold;
}
