@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l1413d');
  src:  url('fonts/icomoon.eot?l1413d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l1413d') format('truetype'),
    url('fonts/icomoon.woff?l1413d') format('woff'),
    url('fonts/icomoon.svg?l1413d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toolbox:before {
  content: "\e930";
}
.icon-mobile_page_blk_back:before {
  content: "\e92f";
}
.icon-myplan:before {
  content: "\e90e";
}
.icon-wishlist:before {
  content: "\e92e";
}
.icon-menu:before {
  content: "\e92d";
}
.icon-expand_open:before {
  content: "\e92c";
}
.icon-walking:before {
  content: "\e92b";
}
.icon-driving:before {
  content: "\e929";
}
.icon-transit:before {
  content: "\e92a";
}
.icon-drag:before {
  content: "\e928";
}
.icon-fb:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-address:before {
  content: "\e925";
}
.icon-prize:before {
  content: "\e926";
}
.icon-time:before {
  content: "\e927";
}
.icon-expand:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e923";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-half_footprint:before {
  content: "\e922";
}
.icon-location2:before {
  content: "\e948";
}
.icon-cancel:before {
  content: "\e921";
}
.icon-back_arrow:before {
  content: "\e91e";
}
.icon-pen:before {
  content: "\e91f";
}
.icon-tick:before {
  content: "\e920";
}
.icon-addfriends:before {
  content: "\e91a";
}
.icon-nofriend:before {
  content: "\e91b";
}
.icon-plan_bg:before {
  content: "\e91c";
}
.icon-plan_bg_page:before {
  content: "\e91d";
}
.icon-more_btn:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e918";
}
.icon-gear:before {
  content: "\e917";
}
.icon-minus_round:before {
  content: "\e915";
}
.icon-plus_round:before {
  content: "\e916";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-diagram_down:before {
  content: "\e913";
}
.icon-page_blk_back:before {
  content: "\e914";
}
.icon-diagram_up:before {
  content: "\e912";
}
.icon-morefilter_footprint:before {
  content: "\e911";
}
.icon-dropdown_icon:before {
  content: "\e910";
}
.icon-logo_arrow:before {
  content: "\e906";
}
.icon-star_empty:before {
  content: "\e90c";
}
.icon-star_fill:before {
  content: "\e90d";
}
.icon-switchLeft:before {
  content: "\e90a";
}
.icon-switchRight:before {
  content: "\e90b";
}
.icon-logo_back:before {
  content: "\e908";
}
.icon-logo_slidearrow:before {
  content: "\e909";
}
.icon-logo_text:before {
  content: "\e907";
}
.icon-tourdash:before {
  content: "\e90f";
}
.icon-magnifier:before {
  content: "\e905";
}
.icon-airplane:before {
  content: "\e903";
}
.icon-notebook:before {
  content: "\e904";
}
.icon-quill:before {
  content: "\e901";
}
.icon-scroll:before {
  content: "\e902";
}
.icon-logo:before {
  content: "\e900";
}

