<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>aboutUs</title>
    </head>
    <body style="margin: auto auto; height: 70%;width: 70%;">
    <H1>About Us</H1>
    <span>
    Tom and Karaa have been friends for years, and are the co-founder of FindFine Tour.  They both love backpack traveling; enjoy the process of planning the schedule, exploring the culture, making every trip a magical event.

    However, they prefer to travel in very different ways.  Tom is a huge fan of railways, loves to travel by trains.  But as a physician, he doesn't get a long vacation, and when he does, he prefers to travel to as many spots as possible.  He was once delayed at Avignon, Tom joined a one-day tour around the town, and he was overwhelmed by the friendly guide and the tourist all over the world.  He then realized the different aspect of local tours, and started to receive friends from all over the world, even became a voluntary tour guide, to show them what a lovely country Taiwan is.  He had been dedicated to cultural exchange ever since.  

    Karaa loves to explore the city, prefers to stay at a location for a period of time, joining the local cooking and dining courses, spends the whole wondering around the river, with wine and cheese in her hands, finding her little secret spots in every city, blending in with the locals, slowly savors every corner of the city.  She has been teaching after gotten her master degree of education in England, but threw herself into travel industry after believing the combined travel plans is the way to travel in the future.  Booking travel tickets and accommodation has become rather common; planning the schedule is the most difficult and time assuming part. 

    Therefore, the two best friends co-founded FindFine Tour in June, 2016, dedicated in promoting destination travel plans, letting all the travel lovers to have more choices, collecting the information more easily, to paint the trip by themselves, making each trip a unique experience, to save to time in planning, and to make every trip a much easier plan!
    </span>
    </body>
</html>