<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FindFineTour</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caudex|Cormorant+Garamond' rel='stylesheet' type='text/css'>
    <!-- custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrapCustom.css" rel="stylesheet">
    <!-- jQuery core-->
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&signed_in=true&language=en&amp;libraries=places&signed_in=false&key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o"></script>
    <!-- Bootstrap Js -->
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap SelectPicker Js -->
    <script src="/static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- velocity animation -->
    <script src="/static/vendor/velocity/velocity.min.js"></script>
    <!-- custom JavaScript -->
    <script src="/static/js/function.js"></script>
    <script src="/static/js/contactUs.js"></script>
    <!-- 低瀏覽器版本相容條件註解 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- icon-font -->
    <link rel="stylesheet" href="/static/icon-font/style.css">
    <!-- google font Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script type="text/javascript">
        var strEmail = "{{strEmail}}";
        var strCsrfToken = "{{csrf_token}}";
    </script>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top blue_nav">
        <!-- tool可放置於此 -->
        <div class="toolbox_blk">
        <div style="height: 30%"></div>
        <div class="gray_back_blk">
            <div class="content">
                <a target="_blank" href="https://www.skyscanner.com.tw/"><img id="agoda" src="/static/img/agoda.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.hotelscombined.com/"><img id="hotelsCombined" src="/static/img/hotelsCombined.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.agoda.com/partners/partnersearch.aspx?cid=1765710&pcs=1&hl=en&sort=star5To1"><img id="skyscanner" src="/static/img/skyscanner.png"></a>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="navbar-header page-scroll find">
                <a class="icon-logo" id="logoTop"></a>
                <div class="mini_searchbar">
                    <span class="icon-magnifier"></span>
                    <input type="text" name="" placeholder="Where are you going?" id="topSearch" class="blue_bg">
                </div>
            </div>
            <div id="headBtn" class="head_btn" style="background-image: url(/static/img/head_sample.jpg);">
                <div class="head_menu" id="headMenu">
                    <img src="/static/img/blk_triangle.png" class="triangle">
                    <div id="logOut" class="logout_btn">Log Out</div>
                </div>
                <span>&nbsp;</span>
                <span id="strEmail" style="font-style:oblique;color:orange"></span>
                <div class="noti_ing"></div>
            </div>
            <div id="noLogHeadBtn" class="head_btn nolog" style="background-image: url(/static/img/head_logout.jpg);">
            </div>
            <div class="header_btn_blk adjust" id="bs-example-navbar-collapse-1">
                <div class="toolbox_btn icon-toolbox">
                    <span class="text">ToolBox</span>
                </div>
                <ul class="nav navbar-nav currency_sel_blk">
                    <li>
                        <div class="CurrencyDiv navSelect">
                            <select id="moneySelect" name="" class="bsSelect">
                                <option value="USD" data-content='USD'></option>
                                <option value="EUR" data-content='EUR'></option>
                                <option value="CNY" data-content='CNY'></option>
                                <option value="GBP" data-content='GBP'></option>
                                <option value="JPY" data-content='JPY'></option>
                                <option value="AUD" data-content='AUD'></option>
                                <option value="NZD" data-content='NZD'></option>
                                <option value="SGD" data-content='SGD'></option>
                                <option value="HKD" data-content='HKD'></option>
                                <option value="TWD" data-content='TWD'></option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="login_btns">
                    <div id="wishList" class="header_btn btn-info">
                        <span class="icon_blk">                  
                            <span class="icon-quill"></span>
                        <span class="icon-scroll"></span>
                        <span class="extend_line"></span>
                        </span>
                        <span class="text">Wishlist</span>
                    </div>
                    <div id="myPlans" class="header_btn btn-info">
                        <span class="icon_blk">
                            <span class="icon-airplane"></span>
                        <span class="icon-notebook"></span>
                        <svg class="extend_dotted_line">
                            <g fill="none" stroke="#ffffff" stroke-width="1">
                                <path stroke-dasharray="5,5" d="M0 0 80 0" />
                            </g>
                        </svg>
                        </span>
                        <span class="text">My Plan</span>
                    </div>
                </div>
                <div class="logout_btns">
                    <div id="register" class="header_blk_btn">Sign Up</div>
                    <div id="loginBtn" class="header_blk_btn">Log In</div>
                </div>
                <div id="padMenuBtn" class="header_menu_btn icon-menu"></div>
                <div id="mobileMenuBtn" class="header_menu_btn icon-menu"></div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="pad_menu" id="padMenu">
        <div class="close_btn icon-cancel"></div>
        <div class="pad_menu_btn" id="padWishlist">
            <span class="icon icon-wishlist"></span>
            <span>Wishlist</span>
        </div>
        <div class="pad_menu_btn" id="padMyPlan">
            <span class="icon icon-myplan"></span>
            <span>My Plan</span>
        </div>
    </div>
    <div class="static_content_blk">
        <div class="page_title">CONTACT US</div>
        <div class="text_plane_print_blk">
            <img src="/static/img/plane_decoration.svg" class="decoration">
        </div>
        <div class="contact_info">
            <!--
            <div class="phone">
                <img src="/static/img/phone_img.svg">
                <div class="text">+886-000-0000</div>
            </div>
            -->
            <div class="mail">
                <img src="/static/img/mail_img.svg">
                <div class="text"><a href="mailto:contact.findfine@gmail.com">contact.findfine@gmail.com</a></div>
            </div>
            <!--
            <div class="place">
                <img src="/static/img/place_img.svg">
                <div class="text">
                	<p class="city">Taipei , Taiwan</p>
                	<p class="address">No.211 Guangzhou Street,Wanhua District</p>
                </div>
            </div>
            -->
        </div>
        <div class="text contact">
            Any comments are welcome, especially the ones that can improve our services and the website.
        </div>
        <a id="sendBtn" href="javascript: void(0)">Send Contact us</a>
    </div>
    <footer class="bottom">
        <div class="container">
            <ul class="link_blk">
                <li><a href="/page/aboutUs">About Us</a></li>
                <li><a href="/page/termsOfUse">Terms & Conditions</a></li>
                <li><a href="/page/cooperation">Cooperation</a></li>
                <li><a href="/page/contactUs">Contact Us</a></li>
            </ul>
            <div class="copyright_blk">Copyright © 2016 FindFineTour All rights reserved.</div>
        </div>
    </footer>
    <!-- <span>Any comments are welcome, especially the ones that can improve our services and the website.  Please e-mail to contact.findfine@gmail.com
            </span> -->
</body>

</html>
<script type="text/javascript">
    $('#strEmail').html("Hi ! "+strEmail);
</script>
