<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>FindFineTour</title>
        <!-- jquery and jquery-ui -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- dashboard -->
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
        <script type="text/javascript" src="/static/js/dashboard.js"></script>
        <!-- django csrf token -->
        <script type="text/javascript">
            var strCsrfToken = "{{csrf_token}}";
        </script>
    </head>
    <body>
        <h2>FFT Dashboard</h2>
        <div id="nav_tabs" class="ui-tabs-vertical ui-helper-clearfix">
            <ul>
                <li class="ui-corner-left"><a href="#tabs-1">monthly story</a></li>
                <li class="ui-corner-left"><a href="#tabs-2">recommended tour</a></li>
                <li class="ui-corner-left"><a href="#tabs-3">analysis report</a></li>
            </ul>
            <div id="tabs-1">
                <h2>monthly story</h2>
                <div class="monthlyStoriesDiv">
                    <div class="monthlyStory">
                        <span class="ms_head">current monthly story</span>
                        <span class="ms_imgurl">image url:</span>
                        <input class="ms_imgurl_input" id="currentMonthImgUrl" value={{current_month_img_url}}></input>
                        <span class="ms_title">title:</span>
                        <input class="ms_title_input" id="currentMonthTitle" value={{current_month_title}}></input>
                        <span class="ms_content">content:</span>
                        <textarea class="ms_content_area" id="currentMonthContent">{{current_month_content}}</textarea>
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <h2>recommended trip</h2>
                <div class="recommendedTripDiv">
                    <div class="rt_search">
                        <span class="rt_search_keyword">keyword:</span>
                        <input id="keywordInput" class="rt_search_input"></input>
                        <a id="searchTripBtn" class="ui-button ui-widget ui-corner-all" href="javascript: void(0)">Find</a>
                    </div>
                    <table class="tripPickerDiv">
                        <tr>
                            <td>
                                <select id="searchResultSelect" class="picker_select" multiple="multiple" size="10"></select>
                            </td>
                            <td>
                                <input id="pickBtn" type="button" value="&gt;"></input>
                                <br>
                                <input id="unpickBtn" type="button" value="&lt;"></input>
                            </td>
                            <td>
                                <select id="pickedResultSelect" class="picker_select" multiple="multiple" size="10"></select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="tabs-3">
                <h2>analysis report</h2>
                <div class="analysisReportDiv">
                    to be continued...
                    <a class="recordable" href="http://www.google.com.tw" target="_blank">link</a>
                </div>
            </div>
        </div>
        <div class="dashboardStatusDiv">
            {{config_status}}
        </div>
        <div class="adminDataDiv">
            <span class="admin_password">Admin password:</span>
            <input class="admin_password_input" id="admin_password" type="password"></input>
        </div>
        <div class="saveConfigDiv">
            <a id="saveConfigBtn" class="ui-button ui-widget ui-corner-all" href="javascript: void(0)">Save Configuration</a>
        </div>
    </body>
</html>