<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>find</title>
    <link rel="stylesheet" type="text/css" href="/static/css/find.css">
    <script type="text/javascript" src="/static/js/countryState.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/find.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
  </head>
  <body>
  <!-- 語言 幣別 登入 -->
  <div class="topDiv">
    <div class="LogDiv">Log</div>
  
    <div class="LoginDiv">
      <button type="button">Login</button>
    </div>

    <div class="LanguageDiv">
      <span>Language</span>
      <select name="">
        <option value="EN">English</option>
        <option value="ZH">Chinese</option>
      </select>
    </div>

    <div class="CurrencyDiv">
      <span>Currency</span>
      <select name="">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="RMB">RMB</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="AUD">AUD</option>
        <option value="NZD">NZD</option>
        <option value="SGD">SGD</option>
        <option value="HKD">HKD</option>
        <option value="TWD">TWD</option>
      </select>
    </div>
  </div>

  <!--查詢 時間 地點 錢 主要-->
  <div class="findMainDiv">
  
    <div class="findMainLeftDiv">
      <div>
       <!-- 有些國家不屬於洲 或又不屬於洋
       <span>Continent</span>
        <select name="">
          <option value=""></option>
          <option value=""></option>
         <option value=""></option>
        </select>
        -->

       <span>Country</span>
        <select id="country" name="country"></select>
       <span>State</span>
        <select name="state" id="state"></select>
      </div>

      <div>
         <span>Budget : </span>
         <input type="text" name="" placeholder="Enter Something"/>
         <span>~</span>
         <input type="text" name="" placeholder="Enter Something"/>
         <span>Currency</span>
      </div>

      <div>
         <span>Start from : </span>
         <input type="date">
         <span>~To:</span>
         <input type="date">
      </div>

    </div>
    <div class="findMainRightDiv">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    </div>
  
  </div>

  <!--查詢 細部-->
  <div class="findDetailDiv">

       <div class="findDetailSmallDiv">
         <span>Duration : </span>
         <input  type="checkbox" name="size" value="10"> 1Hr
         <input  type="checkbox" name="size" value="12"> 3Hr
         <input  type="checkbox" name="size" value="12"> 4~6HR
         <input  type="checkbox" name="size" value="12"> 1 Day
         <input  type="checkbox" name="size" value="12"> More than 1 Day
       </div>

       <div class="findDetailSmallDiv">
          <span>Passenger : </span>
          <input type="text" name="" placeholder="Enter Something"/>
          <span>~</span>
          <input type="text" name="" placeholder="Enter Something"/>
          <span></span>
       </div>
       
       <div class="findDetailSmallDiv">
          <span>Style : </span>
          <input type="checkbox" name="" value="">Cultural tours
          <input type="checkbox" name="" value="">Food tours
          <input type="checkbox" name="" value="">Fashion tours
          <input type="checkbox" name="" value="">Wild life tours
          <input type="checkbox" name="" value="">Sports tours
          <input type="checkbox" name="" value="">Eco tours
       </div>

       <div class="findDetailSmallDiv">
          <span>Tour starts : </span>
            <select>
               <option>00:00</option>
               <option>02:00</option>
               <option>06:00</option>
               <option>08:00</option>
               <option>10:00</option>
               <option>12:00</option>
               <option>14:00</option>
               <option>16:00</option>
               <option>18:00</option>
               <option>20:00</option>
               <option>22:00</option>
            </select>
          <span>Tour ends : </span>
            <select>
               <option>00:00</option>
               <option>02:00</option>
               <option>06:00</option>
               <option>08:00</option>
               <option>10:00</option>
               <option>12:00</option>
               <option>14:00</option>
               <option>16:00</option>
               <option>18:00</option>
               <option>20:00</option>
               <option>22:00</option>
            </select>
       </div>

       <div class="findDetailSmallDiv">
           <span>Guide's language : </span>
           <input type="checkbox" name="" value="">English
           <input type="checkbox" name="" value="">Chinese
       </div>

       <div class="findDetailSmallDiv">
           <span>Available : </span>
           <input type="checkbox" name="" value="">Instant confirmation
           <input type="checkbox" name="" value="">On request
       </div>
  </div>

  <!--隱藏 細部查詢 按鈕-->
  <div class="hideButtonDiv">
     <button id="hideButton" type="button" onclick="swithDetail()">Expand</button>
  </div>

  </br>

  <!--search-->
  <div class="searchDiv">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Paint your life in</span>
     <div id="locationField">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="autocomplete" placeholder="Destination" onFocus="geolocate()" type="text"></input>
     </div>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="btnFindTrip" type="button">Find</button>
  </div>

  </body>
<html/>


<script language="javascript">
            populateCountries("country", "state");
</script>