<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>home</title>
     <link rel="stylesheet" type="text/css" href="/static/css/home.css">
     <script type="text/javascript" src="/static/js/jquery.min.js"></script>
     <script type="text/javascript" src="/static/js/home.js"></script>
     <script type="text/javascript" src="/static/js/find.js"></script>
     <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script> 
 </head>
  <body>

  <!-- 語言 幣別 登入 -->
  <div class="topDiv">
  
    <div class="LogDiv">
    </div>

    <div class="LoginDiv">
      <button type="button" >Login</button>
    </div>

    <div class="LanguageDiv">
      <span>Language</span>
      <select name="" style="width: 150px;height:30px">
        <option value="EN">English</option>
        <option value="ZH">Chinese</option>
      </select>
    </div>

    <div class="CurrencyDiv">
      <span>Currency</span>
      <select name=""  style="width: 150px;height:30px">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="RMB">RMB</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="AUD">AUD</option>
        <option value="NZD">NZD</option>
        <option value="SGD">SGD</option>
        <option value="HKD">HKD</option>
        <option value="TWD">TWD</option>
      </select>
    </div>
    
      <!-- 搜尋 -->  
  <div class="findDiv">
     <span>Paint your life in</span>
     <div id="locationField">
      <input id="autocomplete" placeholder="Destination" onFocus="geolocate()" type="text"></input>
     </div>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="btnFindTrip" type="button">Find</button>
      <!--
      <span>Paint your life in</span>
      <input id="strFilterText" type="text" name="" placeholder="Destination"/>
      <button id="btnFindTrip" type="button">Find</button>
      <button id="btnHideTrip" style="display: none;" type="button">Hide</button>
      -->
  </div>
    
    
  </div>



  <!-- 搜尋結果 -->
  <div class="findResultDiv" style="display: none;">
    <ul class="lstTripData">
    </ul>
  </div>
  <!-- 城市推薦 -->
  <div class="cityDiv">
     <p>Classic Cities</p>
     <div class="cityBigDiv">  <a href="find"><img src="/static/img/Bangkok.jpg"    title="see more about Bangkok"/>   </a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/Barcelona.jpg"  title="see more about Barcelona"/> </a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/CapeTown.jpg"   title="see more about Cape Town"/> </a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/Charleston.jpg" title="see more about Charleston"/></a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/Florence.jpg"   title="see more about Florence"/>  </a></div>
     <div class="cityBigDiv">  <a href="find"><img src="/static/img/Jerusalem.jpg"  title="see more about Jerusalem"/> </a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/Krakow.jpg"     title="see more about Krakow"/>    </a></div>
     <div class="cityBigDiv">  <a href="find"><img src="/static/img/Kyoto.jpg"      title="see more about Kyoto"/>     </a></div>
     <div class="citySmallDiv"><a href="find"><img src="/static/img/SiemReap.jpg"   title="see more about Siem Reap"/> </a></div>
  </div>
  
  <!-- 廣告推薦  先忽略 待討論外觀型態-->
  <div class="adDiv">
  
  </div>
  
    <!-- 每月推薦-->
  <div class="stortMothDiv">
  <p>Story of moth</p>
     <div class="stortMothLeftDiv">
     </div>
     <div class="stortMothRightDiv">
        The Taj Mahal, a wonder of the world and world heritage 
        site,is a magnificent specimen of Mughal architecture. 
        Most people know the Taj Mahal,a mausoleum in Agra, 
        India, as a monument of love symbolizing the eternal 
        love of a Mughal emperor Shah Jahan towards his wife 
        Mumtaz. However,not many are aware that the Taj Mahal
        also tells the story of maternal death1 and, by 
        extension,a hostof issues surrounding it that is 
        emblematic of reproductive health in India.
     </div>
  </div>
  
  <!-- 條約細項 -->
  <div class="treatyDiv">
     <div class="treatyDetailDiv">
        <ul>
         <li>About Us<li>
         <li>Privacy<li>
         <li>Contact Us<li>
        </ul>
     </div>
     <div class="treatyDetailDiv">
         <ul>
           <li>Affiliate<li>
           <li>Cooperation<li>
         </ul>
     </div>
  </div>
  
  <!-- COPYRIGHT -->
  <div class="bottomDiv">
     <span>Copyright © 2016 FindFineTour All rights reserved.</span>
     <div class="LogDiv">
    </div>
  </div>
  </body>
<html/>