<!-- TODO 有@記號 需改成連結  hinet 設定網址 不要home-->
<!-- 
@TODO 
- FOOTER各靜態頁要再補上需要的資料
- FOOTER靜態頁名稱調整
- FOOTER靜態連結
- 頭像點擊會出現動態欄位與登出按鈕，隱藏動態欄位就會剩下登出鍵
- 頭像有通知小紅點，設定"active"的CLASS就會顯示
- 上面工具箱點擊後會出現工具欄位，需要的工具補充在裡面
- KARRA還是覺得搜尋BAR太低
- 登入時是目前的畫面
- 登出時隱藏#wishList、#myPlans、#headBtn、#padWishlist、#padMyPlan
- 登出時顯示#register、#loginBtn、#noLogHeadBtn、#padRegister、#padLoginBtn
- 登入登出完成後選單<nav>複製到各頁(不含login與register)
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FindFineTour</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caudex|Cormorant+Garamond' rel='stylesheet' type='text/css'>
    <!-- custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrapCustom.css" rel="stylesheet">
    <!-- jQuery core-->
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap SelectPicker Js -->
    <script src="/static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- velocity animation -->
    <script src="/static/vendor/velocity/velocity.min.js"></script>
    <!-- custom JavaScript -->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/home.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o&signed_in=true&libraries=places&callback=initMap" async defer></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o"></script>
    <!-- 低瀏覽器版本相容條件註解 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var strEmail = "{{strEmail}}";
    </script>
    <!-- ripple-button -->
    <link rel="stylesheet" href="/static/vendor/ripple/css/style.css">
    <script src="/static/vendor/ripple/js/index.js"></script>
    <!-- icon-font -->
    <link rel="stylesheet" href="/static/icon-font/style.css">
    <!-- google font Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>
<!-- TODO 每個log都可以回首頁 -->

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <!-- tool可放置於此 -->
        <div class="toolbox_blk">
        <div style="height: 30%"></div>
        <div class="gray_back_blk">
            <div class="content">
                <a target="_blank" href="https://www.skyscanner.com.tw/"><img id="agoda" src="/static/img/agoda.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.hotelscombined.com/"><img id="hotelsCombined" src="/static/img/hotelsCombined.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.agoda.com/partners/partnersearch.aspx?cid=1765710&pcs=1&hl=en&sort=star5To1"><img id="skyscanner" src="/static/img/skyscanner.png"></a>
            </div>
        </div>

        </div>
        <div class="container">
            <div id="headBtn" class="head_btn" style="background-image: url(/static/img/head_sample.jpg);">
                <div class="head_menu" id="headMenu">
                    <img src="/static/img/blk_triangle.png" class="triangle">
                    <div id="logOut" class="logout_btn">Log Out</div>
                </div>
                <span>&nbsp;</span>
                <span id="strEmail" style="font-style:oblique;color:orange"></span>
                <div class="noti_ing"></div>
            </div>
            <div id="noLogHeadBtn" class="head_btn nolog" style="background-image: url(/static/img/head_logout.jpg);">
            </div>
            <div class="header_btn_blk adjust" id="bs-example-navbar-collapse-1">
                <div class="toolbox_btn icon-toolbox">
                    <span class="text">ToolBox</span>
                </div>
                <ul class="nav navbar-nav currency_sel_blk">
                    <li>
                        <div class="CurrencyDiv navSelect">
                            <select id="moneySelect" name="" class="bsSelect">
                                <option value="USD" data-content='USD'></option>
                                <option value="EUR" data-content='EUR'></option>
                                <option value="CNY" data-content='CNY'></option>
                                <option value="GBP" data-content='GBP'></option>
                                <option value="JPY" data-content='JPY'></option>
                                <option value="AUD" data-content='AUD'></option>
                                <option value="NZD" data-content='NZD'></option>
                                <option value="SGD" data-content='SGD'></option>
                                <option value="HKD" data-content='HKD'></option>
                                <option value="TWD" data-content='TWD'></option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="login_btns">                    
                    <div id="wishList" class="header_btn btn-info">
                        <span class="icon_blk">                  
                            <span class="icon-quill"></span>
                        <span class="icon-scroll"></span>
                        <span class="extend_line"></span>
                        </span>
                        <span class="text">Wishlist</span>
                    </div>
                    <div id="myPlans" class="header_btn btn-info">
                        <span class="icon_blk">
                            <span class="icon-airplane"></span>
                        <span class="icon-notebook"></span>
                        <svg class="extend_dotted_line">
                            <g fill="none" stroke="#ffffff" stroke-width="1">
                                <path stroke-dasharray="5,5" d="M0 0 80 0" />
                            </g>
                        </svg>
                        </span>
                        <span class="text">My Plan</span>
                    </div>
                </div>
                <div class="logout_btns">
                    <div id="register" class="header_blk_btn">Sign Up</div>
                    <div id="loginBtn" class="header_blk_btn">Log In</div>
                </div>
                <div id="padMenuBtn" class="header_menu_btn icon-menu"></div>
                <div id="mobileMenuBtn" class="header_menu_btn icon-menu"></div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="pad_menu" id="padMenu">
        <div class="close_btn icon-cancel"></div>
        <div class="login_btns">            
            <div class="pad_menu_btn" id="padWishlist">
                <span class="icon icon-wishlist"></span>
                <span>Wishlist</span>
            </div>
            <div class="pad_menu_btn" id="padMyPlan">
                <span class="icon icon-myplan"></span>
                <span>My Plan</span>
            </div>
        </div>
        <div class="logout_btns">            
            <div id="padRegister" class="header_blk_btn">Sign Up</div>
            <div id="padLoginBtn" class="header_blk_btn">Log In</div>
        </div>
    </div>
    <div class="plane_print_blk">
        <svg class="plane_print">
            <path class="cover" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="square" stroke-dasharray="5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,10,5,2000" d="M0.568,255.942c0,0,299-45,215-129 c-19.879-19.879-20-55,72-56c24.94-0.271,169-2,169-2h737.507c0,0,2.607,0,20.493,0c25.011,0,40,4,54-13s8-42-5-50 c-29.304-18.033-73,11-45,54s279,76,279,76" />
            </path>
        </svg>
    </div>
    <div class="flying_plane_blk">
        <div class="flying_plane icon-airplane"></div>
    </div>
    <!-- Header -->
    <header class="home">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    <span class="icon-logo_text"></span>
                </div>
                <div class="arrow_blk_hideblk arrow_1">
                    <div class="arrow_blk">
                        <span class="icon-logo_arrow"></span>
                    </div>
                </div>
                <div class="arrow_blk_hideblk arrow_2">
                    <div class="arrow_blk">
                        <span class="icon-logo_arrow"></span>
                    </div>
                </div>
                <div class="arrow_blk_hideblk arrow_3">
                    <div class="arrow_blk">
                        <span class="icon-logo_arrow"></span>
                    </div>
                </div>
                <div class="arrow_blk_hideblk arrow_4">
                    <div class="arrow_blk">
                        <span class="icon-logo_arrow"></span>
                    </div>
                </div>
                <p class="subtitle">Paint Your Trip
                    <br>Find local tours around the world</p>
                <!-- <div class="intro-heading">Paint your life in</div> -->
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
                <div class="headerbg_logo">
                    <span class="icon-logo"></span>
                </div>
                <div id="locationField">
                    <div>
                        <div class="input-group input-group-sm head_searchbar_blk">
                            <input id="autocomplete" class="head_searchbar" placeholder="Where are you going?" type="text"></input>
                            <div class="ripple_blk search_btn">
                                <button id="btnFindTrip" type="button" class="ripple">Find Tours</button>
                            </div>
                            <span class="icon-magnifier"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- city Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore Classic Cities</h2>
                    <h3 class="section-subheading text-muted">Combine the best things together</h3>
                </div>
            </div>
            <div class="city_blk">
                <!-- Paris -->
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="48.856614" data-lng="2.3522219" data-place="Paris" style="background-image: url(/static/img/paris_new.jpg);">
                        <span class="name left">Paris</span>
                    </a>
                </div>
                <!-- London -->
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="51.5073509" data-lng="-0.1277583" data-place="London" style="background-image: url(/static/img/london_new.jpg);">
                        <span class="name left">London</span>
                    </a>
                </div>
                <!-- newyork -->
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="40.7127837" data-lng="-74.0059413" data-place="New York" style="background-image: url(/static/img/newyork_new.jpg);">
                        <span class="name right">New York</span>
                    </a>
                </div>
                <!-- tokyo -->
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="35.6894875" data-lng="139.6917064" data-place="tokyo" style="background-image: url(/static/img/tokyo_new.jpg);">
                        <span class="name right">Tokyo</span>
                    </a>
                </div>
                <div class="home_city type_2">
                    <a href="" class="portfolio-link" data-lat="35.0212466" data-lng="135.7555968" data-place="Kyoto" style="background-image: url(/static/img/Kyoto_new.jpg);">
                        <span class="name right">Kyoto</span>
                    </a>
                </div>
                <div class="home_city type_2">
                    <a href="" class="portfolio-link" data-lat="22.2783151" data-lng="114.174695" data-place="Hong Kong" style="background-image: url(/static/img/hongkong_new.jpg);">
                        <span class="name right">Hong Kong</span>
                    </a>
                </div>
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="1.3553794" data-lng="103.8677444" data-place="Singapore" style="background-image: url(/static/img/singapore_new.jpg);">
                        <span class="name right">Singapore</span>
                    </a>
                </div>
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="25.0329636" data-lng="121.5654268" data-place="Taipei" style="background-image: url(/static/img/taipei_new.jpg);">
                        <span class="name left">Taipei</span>
                    </a>
                </div>
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="41.9027835" data-lng="12.4963655" data-place="Rome" style="background-image: url(/static/img/rome_new.jpg);">
                        <span class="name left">Rome</span>
                    </a>
                </div>
                <div class="home_city type_1">
                    <a href="" class="portfolio-link" data-lat="52.5200066" data-lng="13.404954" data-place="Berlin" style="background-image: url(/static/img/berlin_new.jpg);">
                        <span class="name right">Berlin</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- story Section -->
    <section id="about" class="story_blk">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Monthly Stories</h2>
                    <h3 class="section-subheading text-muted">Let’s discover how lovely these cities are</h3>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="month_blk">
                <p class="text">Month</p>
                <div class="month_sel_btn">
                    <div id="monthSelBtn" class="text" data-ripple-color="#2bb0b9">December</div>
                    <span class="caret"></span>
                </div>
                <ul id="monthDropDown" class="month_dropdown_blk">
                    <li>Januanry</li>
                    <li>Febuary</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </div>
            <a href="" class="content_blk">
                <div class="image" style="background-image: url({{current_month_img_url}});">
                </div>
                <div class="text_blk">
                    <p class="title">{{current_month_title}}</p>
                    <div class="content_blk">
                        <p class="centent">{{current_month_content}}</p>
                    </div>
                </div>
            </a>
            <!--
            <a href="" class="content_blk">
                <div class="image" style="background-image: url(/static/img/sea-1614608.jpg);">
                </div>
                <div class="text_blk">
                    <p class="title">TITLE</p>
                    <div class="content_blk">
                        <p class="centent">The Taj Mahal, a wonder of the world and world heritage site,is a magnificent specimen of Mughal architecture. Most people know the Taj Mahal,a mausoleum in Agra, India, as a monument of love symbolizing the eternal love of a Mughal emperor Shah Jahan towards his wife Mumtaz. However,not many are aware that the Taj Mahal also tells the story of maternal death1 and, by extension,a hostof issues surrounding it that is emblematic of reproductive health in India...</p>
                    </div>
                </div>
            </a>
            -->
            <!-- <div class="switch_blk">
                <a class="btn left icon-switchLeft"></a>
                <a class="btn right icon-switchRight"></a>
            </div> -->
        </div>
        <div class="bgimg_blk" style="background-image: url(/static/img/sea-1614608.jpg);"></div>
    </section>
    <section id="tour">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FFT Selections</h2>
                    <h3 class="section-subheading text-muted">Why not give them a try?</h3>
                </div>
            </div>
            <div id="tourBlk" class="row tour_blk home_tour_blk" data-ing="0">
            </div>
            <div class="waiting_blk">
                <div class="waiting">
                    <div class="logo icon-logo"></div>
                    <div class="text">Loading...</div>
                    <div class="shadow"></div>
                </div>
            </div>
            <div class="more_link_btn ripple_blk" id="moreBtn">
                <a class="ripple">More Tours</a>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" style="background-image: url(/static/img/grey_sandbag.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Partners</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row partner_blk">
                <img src="/static/img/logo.png">
                <img src="/static/img/wasa_logo.png">
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <ul class="link_blk">
                <li><a href="/page/aboutUs">About Us</a></li>
                <li><a href="/page/termsOfUse">Terms & Conditions</a></li>
                <li><a href="/page/cooperation">Cooperation</a></li>
                <li><a href="/page/contactUs">Contact Us</a></li>
            </ul>
            <div class="copyright_blk">Copyright © 2016 FindFineTour All rights reserved.</div>
        </div>
    </footer>
</body>
</html>

    
<script type="text/javascript">
    $('#strEmail').html("Hi ! "+strEmail);
</script>