<html>
  <head>
     <title>index</title>
	 <link rel="stylesheet" type="text/css" href="css/index.css">
     <script type="text/javascript" src="js/jquery.min.js"></script>
	 <script type="text/javascript" src="js/jquery.cycle2.min.js"></script>	 
	 <script type="text/javascript" src="js/index.js"></script>	  
  </head>
  <body>
     <!-- 最上面的登入按鈕所在的div-->
     <div class="topDiv">
	 
	      <div class="topLoginDiv"><button type="button">login</button>
	      </div>
	      
	      <div class="topCurrencyDiv">Currency
          <select id="" name="">
             <option value="USD">USD</option>
             <option value="EUR">EUR</option>
             <option value="RMB">RMB</option>
          </select>
	      </div>
	      
	      <div class="topLanguagesDiv">Languages
          <select id="" name="">
             <option value="en">English</option>
             <option value="zh">Chinese</option>
          </select>
	      </div>
	 
	 </div>
	 <!-- 背景圖的div-->

	 <div class="slideshowDiv">
		<img src="jpg/3.jpg" />
		<img src="jpg/4.jpg" />
		<img src="jpg/1.jpg" />
		<img src="jpg/5.jpg" />
		<img src="jpg/6.jpg" />
		<img src="jpg/2.jpg" />
		<img src="jpg/7.jpg" />
		<img src="jpg/8.jpg" />
		<img src="jpg/9.jpg" />
	</div>

	 <!-- 搜尋按鈕所在的div-->
	 <div class="searchDiv">
	                    <div class="searchTxtDiv">where you want to go ?</div>
						<div class="searchBtnDiv"><button type="button">search</button></div>
						<div class="searchInputDiv"><input type="text" name=""/></div>

	 </div>
	 <!-- 城市外層的所在的div-->
	 <div class="cityOutDiv">  
	   <div>Popular City</div>
	   <div class="cityInBigDiv"><a href="main.html"><img src="jpg/Bangkok.jpg"  title="see more about Bangkok"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/Barcelona.jpg"  title="see more about Barcelona"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/CapeTown.jpg"  title="see more about Cape Town"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/Charleston.jpg"  title="see more about Charleston"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/Florence.jpg"  title="see more about Florence"/></a></div>
	   <div class="cityInBigDiv"><a href="main.html"><img src="jpg/Jerusalem.jpg"  title="see more about Jerusalem"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/Krakow.jpg"  title="see more about Krakow"/></a></div>
	   <div class="cityInBigDiv"><a href="main.html"><img src="jpg/Kyoto.jpg"  title="see more about Kyoto"/></a></div>
	   <div class="cityInSmallDiv"><a href="main.html"><img src="jpg/SiemReap.jpg"  title="see more about Siem Reap"/></a></div>
	 </div>
	 
	 <!-- 推薦行程外層的所在的div-->
	 <div class="adOutDiv">  
	   <div>Recommended Tours</div>
	   <div class="adInBigDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInBigDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInSmallDiv">ad</div>
	   <div class="adInBigDiv">ad</div>

	 </div>
	 
	 <!-- 條款簡介所在的div-->
	 <div class="treatyOutDiv">
	   <div>Treaty</div>
	   <div class="treatyInDiv">
	     <ul>
		    <li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		 </ul>
	   </div>
	   	   <div class="treatyInDiv">
	     <ul>
		    <li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		 </ul>
	   </div>
	   	   <div class="treatyInDiv">
	     <ul>
		    <li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		 </ul>
	   </div>
	 </div>
	 <!-- 版權所在的div-->
     <div class="copyrightDiv">copyright</div>
  </body>
<html/>