<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>FindFineTour</title>
        <!-- jquery and jquery-ui -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- login -->
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <script type="text/javascript" src="/static/js/login.js"></script>
    </head>
    <body>
        <h2>Login Page</h2>
        <div>
            <a class="ui-button ui-widget ui-corner-all" href="https://accounts.google.com/o/oauth2/v2/auth?scope={{strGoogleOauthScope}}&state={{strGoogleOauthState}}&redirect_uri={{strGoogleOauthRedirectUri}}&response_type=code&client_id={{strGoogleOauthClientId}}&approval_prompt=force ">google OAuth Login</a>
        </div>
        <div>
            <span>Account:</span>
            <input id="user_email"></input>
        </div>
        <div>
            <span>Password:</span>
            <input id="user_password"></input>
        </div>
        <div>
            <a id="loginBtn" class="ui-button ui-widget ui-corner-all" href="javascript: void(0)">Login</a>
            <a id="registerBtn" class="ui-button ui-widget ui-corner-all" href="javascript: void(0)">Register</a>
        </div>
    </body>
</html>