<html>
  <head>
     <title>index</title>
	 <link rel="stylesheet" type="text/css" href="css/main.css"> 
	 <link rel="stylesheet" type="text/css" href="css/easyui.css">
	 <link rel="stylesheet" type="text/css" href="css/icon.css">
	 
     <script type="text/javascript" src="js/jquery.min.js"></script>
	 <script type="text/javascript" src="js/jquery.cycle2.min.js"></script>	 
	 <script type="text/javascript" src="js/main.js"></script>	  
	 <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
  </head>
  <body>
           <!-- 最上面的登入按鈕所在的div-->
     <div class="topDiv">
	 
	      <div class="topLoginDiv"><button type="button">login</button>
	      </div>
	      
	      <div class="topCurrencyDiv">Currency
          <select id="" name="">
             <option value="USD">USD</option>
             <option value="EUR">EUR</option>
             <option value="RMB">RMB</option>
          </select>
	      </div>
	      
	      <div class="topLanguagesDiv">Languages
          <select id="" name="">
             <option value="en">English</option>
             <option value="zh">Chinese</option>
          </select>
	      </div>
	 
	 </div>
	 	 <!-- 搜尋按鈕所在的div-->
	 <div class="searchDiv">
	 
	     <div style="width:30%;float:left;">
		    <label>洲:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="sport">sport</option>
                <option value="heath">heath</option>
            </select>	 
		 </div>
		 <div style="width:30%;float:left;">
		    <label>國:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="sport">sport</option>
                <option value="heath">heath</option>
            </select>	 
		 </div>
		 <div style="width:40%;float:left;">
		    <label>城市:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="sport">sport</option>
                <option value="heath">heath</option>
            </select>	 
		 </div>
	  
	    

           <div style="width:50%;float:left;">
               開始日期:
               <input class="easyui-datebox">
           </div>
           <div style="width:50%;float:left;">
               結束日期:
               <input class="easyui-datebox">
           </div>

		
		
		

        <div>
		    <label>長短:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="1hr">1hr</option>
                <option value="3hr">3hr</option>
                <option value="6hr">6hr</option>
                <option value="12hr">12hr</option>             
                <option value="24hr">24hr</option>
            </select>			
        </div>
        </br>

		 
		<div style="width:10%;float:left;">時段:</div> 
		<div style="width:40%;float:left;">
                 <input class="easyui-slider" style="width:400px" data-options="
	                 min:00,
		  	         max:24,
		  	         step:1,
                     showTip: true,
                     range: true,
                     value: [06,18],
                     rule: [00,'|',01,'|',02,'|',03,'|',04,'|',05,'|',06,'|',07,'|',08,'|',09,'|',10,'|',11,'|',12,'|',13,'|',14,'|',15,'|',16,'|',17,'|',18,'|',19,'|',20,'|',21,'|',22,'|',23,'|',24]">
		         </br>
		 </div>
		 
		 
		 <div style="width:10%;float:left;">人數:</div> 
		 <div style="width:40%;float:left;">
                 <input class="easyui-slider" style="width:400px" data-options="
	                 min:00,
		  	         max:10,
		  	         step:1,
                     showTip: true,
                     range: true,
                     value: [00,10],
                     rule: [00,'|',01,'|',02,'|',03,'|',04,'|',05,'|',06,'|',07,'|',08,'|',09,'|',10]">
				 </br>
		 </div>

		 

		 
		 
		 <div style="width:50%;float:left;">
		    <label>類型:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="sport">sport</option>
                <option value="heath">heath</option>
            </select>	 
		 </div>
		 
		 
		 <div style="width:50%;float:left;">
		    <label>語言:</label>
            <select class="easyui-combobox" name="" multiple="true" style="width:50%"> 		
                <option value="sport">sport</option>
                <option value="heath">heath</option>
            </select>	 
		 </div>
		 
		 <div style="width:50%;float:left;">
		      <label>關鍵字查詢:</label>
		      <input class="easyui-textbox" type="text" name="name"></input>
         </div>
		 <div style="width:50%;float:left;">
		      <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
         </div>

	 </div>
	 	 	 <!-- 搜尋結果所在的div-->
	 <div class="resultDiv">
	 
	 
	 
             <h2>DataGrid Card View Demo</h2>
             <div class="demo-info" style="margin-bottom:10px">
                 <div class="demo-tip icon-tip">&nbsp;</div>
                 <div>The datagrid row can be showed as card.</div>
             </div>
             
             <table id="tt" style="width:700px;height:350px"
                     title="DataGrid - CardView" singleSelect="true" fitColumns="true" remoteSort="false"
                     url="sample.json" pagination="true" sortOrder="desc" sortName="itemid">
                 <thead>
                     <tr>
                         <th field="itemid"    width="80"  sortable="true">Item ID</th>
                     </tr>
                 </thead>
             </table>              
	 </div>
	 
 
  </body>
<html/>