<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>FindFineTour</title>
        <!-- jquery and jquery-ui -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- login -->
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <script type="text/javascript" src="/static/js/login.js"></script>
        <!-- django csrf token -->
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="loginbar">
        至頂訊息
        </div>
        <div class="nav">
        我的好友
        </div>
        <div class="left">
            <div class="leftup">
            加入好友
            </div>
            <div class="leftdown">
            刪除好友
            </div>
        </div>
        <div class="right">
        朋友清單
        </div>
    </body>
</html>