<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>FindFineTour</title>
        <!-- jquery and jquery-ui -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="myTrip.css">
        <script type="text/javascript" src="myTrip.js"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="loginbar">
        至頂訊息
        </div>
        <div class="nav">
        my trip <button id="addTrip">new a trip</button>
        </div>
        <div class="content">
        
        </div>
    </body>
</html>