<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>FindFineTour</title>
        <!-- jquery and jquery-ui -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- register -->
        <link rel="stylesheet" type="text/css" href="/static/css/register.css">
        <script type="text/javascript" src="/static/js/register.js"></script>
        <!-- django csrf token -->
        <script type="text/javascript">
            var strCsrfToken = "{{csrf_token}}";
        </script>
    </head>
    <body>
        <h2>Register Page</h2>
        <div>
            <div>
                <span>Email:</span>
                <input id="user_email"></input>
            </div>
            <div>
                <span>Password:</span>
                <input id="user_password"></input>
            </div>
            <div>
                <span>Confirm:</span>
                <input id="user_confirm"></input>
            </div>
            <div>
                <span>Title:</span>
                <input type="radio" name="user_title" id="user_title_mr" value="Mr.">
                <label for="user_title_mr">Mr.</label>
                <input type="radio" name="user_title" id="user_title_miss" value="Miss">
                <label for="user_title_miss">Miss</label>
                <input type="radio" name="user_title" id="user_title_mz" value="Mz.">
                <label for="user_title_mz">Mz.</label>
                <input type="radio" name="user_title" id="user_title_mrs" value="Mrs.">
                <label for="user_title_mrs">Mrs.</label>
            </div>
            <div>
                <span>Family Name:</span>
                <input id="user_family_name"></input>
            </div>
            <div>
                <span>Given Name:</span>
                <input id="user_given_name"></input>
            </div>
            <div>
                <span>Gender:</span>
                <input type="radio" name="user_gender" id="user_gender_male" value="male">
                <label for="user_gender_male">male</label>
                <input type="radio" name="user_gender" id="user_gender_female" value="female">
                <label for="user_gender_female">female</label>
            </div>
            <div>
                <span>Birthday:</span>
                <input id="user_birthday"></input>
            </div>
            <div>
                <span>Nationality:</span>
                <input id="user_nationality"></input>
            </div>
            <div>
                <span>ContactNumber:</span>
                <input id="user_contact_number"></input>
            </div>
            <div>
                <a id="registreBtn" class="ui-button ui-widget ui-corner-all" href="javascript: void(0)">Send Register Data</a>
            </div>
        </div>
        
    </body>
</html>