<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FindFineTour</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caudex|Cormorant+Garamond' rel='stylesheet' type='text/css'>
    <!-- custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrapCustom.css" rel="stylesheet">
    <!-- jQuery core-->
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&signed_in=true&language=en&amp;libraries=places&signed_in=false&key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o"></script>
    <!-- Bootstrap Js -->
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap SelectPicker Js -->
    <script src="/static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- velocity animation -->
    <script src="/static/vendor/velocity/velocity.min.js"></script>
    <!-- custom JavaScript -->
    <script src="/static/js/function.js"></script>
    <script src="/static/js/static.js"></script>
    <!-- 低瀏覽器版本相容條件註解 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- icon-font -->
    <link rel="stylesheet" href="/static/icon-font/style.css">
    <!-- google font Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top blue_nav">
        <!-- tool可放置於此 -->
        <div class="toolbox_blk">
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll find">
                <a class="icon-logo" id="logoTop"></a>
                <div class="mini_searchbar">
                    <span class="icon-magnifier"></span>
                    <input type="text" name="" placeholder="Where are you going?" id="topSearch" class="blue_bg">
                </div>
            </div>
            <div id="headBtn" class="head_btn" style="background-image: url(/static/img/head_sample.jpg);">
                <div class="head_menu" id="headMenu">
                    <img src="/static/img/blk_triangle.png" class="triangle">
                    <div class="noti_blk">
                        <div class="noti">這是訊息一</div>
                        <div class="noti">這是訊息二</div>
                        <div class="noti">這是訊息三這是訊息三這是訊息三這是訊息三這是訊息三這是訊息三這是訊息三這是訊息三</div>
                        <div class="noti">這是訊息四</div>
                    </div>
                    <div id="logOut" class="logout_btn">log Out</div>
                </div>
                <div class="noti_ing"></div>
            </div>
            <div class="header_btn_blk adjust" id="bs-example-navbar-collapse-1">
                <div class="toolbox_btn icon-toolbox">
                    <span class="text">ToolBox</span>
                </div>
                <ul class="nav navbar-nav currency_sel_blk">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <div class="CurrencyDiv navSelect">
                            <select id="moneySelect" name="" class="bsSelect">
                                <option value="USD" data-content='USD'></option>
                                <option value="EUR" data-content='EUR'></option>
                                <option value="CNY" data-content='CNY'></option>
                                <option value="GBP" data-content='GBP'></option>
                                <option value="JPY" data-content='JPY'></option>
                                <option value="AUD" data-content='AUD'></option>
                                <option value="NZD" data-content='NZD'></option>
                                <option value="SGD" data-content='SGD'></option>
                                <option value="HKD" data-content='HKD'></option>
                                <option value="TWD" data-content='TWD'></option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div id="wishList" class="header_btn btn-info">
                    <span class="icon_blk">                  
                        <span class="icon-quill"></span>
                    <span class="icon-scroll"></span>
                    <span class="extend_line"></span>
                    </span>
                    <span class="text">Wishlist</span>
                </div>
                <div id="myPlans" class="header_btn btn-info">
                    <span class="icon_blk">
                        <span class="icon-airplane"></span>
                    <span class="icon-notebook"></span>
                    <svg class="extend_dotted_line">
                        <g fill="none" stroke="#ffffff" stroke-width="1">
                            <path stroke-dasharray="5,5" d="M0 0 80 0" />
                        </g>
                    </svg>
                    </span>
                    <span class="text">My Plan</span>
                </div>
                <!-- <div id="myFriends" class="btn btn-info">my friends</div>
                <div id="myMessages" class="btn btn-info">my messages</div> -->
                <!-- <div id="loginBtn" class="header_btn btn-info">Log In</div> -->
                <div id="register" class="header_blk_btn hide">Sign Up</div>
                <div id="loginBtn" class="header_blk_btn hide">Log In</div>
                <div id="padMenuBtn" class="header_menu_btn icon-menu"></div>
                <div id="mobileMenuBtn" class="header_menu_btn icon-menu"></div>
                <div id="noLogHeadBtn" class="head_btn" style="background-image: url(/static/img/head_logout.jpg);">
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="pad_menu" id="padMenu">
        <div class="close_btn icon-cancel"></div>
        <div class="pad_menu_btn" id="padWishlist">
            <span class="icon icon-wishlist"></span>
            <span>Wishlist</span>
        </div>
        <div class="pad_menu_btn" id="padMyPlan">
            <span class="icon icon-myplan"></span>
            <span>My Plan</span>
        </div>
    </div>
    <div class="static_content_blk">
        <div class="page_title">DISCLAIMER</div>
        <!-- <div class="main_pic_blk"></div> -->
        <div class="title">No warranties</div>
        <div class="text">
            This website is provided “as is” without any representations or warranties, express or implied. This website makes no representations or warranties in relation to this website or the information and materials provided on this website.
        </div>
        <div class="text">
            Without prejudice to the generality of the foregoing paragraph, the website does not warrant that:
            <br/>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">this website will be constantly available, or available at all;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">the information on this website is complete, true, accurate or non-misleading; or</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">the information on a website which is direct from this website is complete, true, accurate or non-misleading.</span>
        </div>
        <div class="text">
            Nothing on this website constitutes, or is meant to constitute, advice of any kind.
        </div>
        <div class="title">Limitations of liability</div>
        <div class="text">
            FindFineTour will not be liable to you (whether under contact law, tort law, or otherwise, under the law of any jurisdiction) in relation to the contents of, or use of, or otherwise in connection with, this website:
            <br/>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">for any direct loss;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">for any indirect, special or consequential loss; or</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</span>
        </div>
        <div class="text">
            These limitations of liability apply even if FindFineTour has been expressly advised of the potential loss.
        </div>
        <div class="title">Other parties</div>
        <div class="text">
            You accept that, as a limited liability entity, FindFineTour has an interest in limiting the personal liability of its shareholders, officers and employees. You agree that you will not bring any claim personally against FindFineTour’s shareholders, officers or employees in respect of any losses you suffer in connection with the website.
        </div>
        <div class="text">
            Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect FindFineTour’s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as FindFineTour.
        </div>
        <div class="title">Reasonableness</div>
        <div class="text">
            By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.  
        </div>
        <div class="text">
            If you do not think they are reasonable, you must not use this website.  
        </div>
        <div class="title">Privacy policy</div>
        <div class="text">
            FindFineTour may collect and use the following kinds of personal information: 
            <br/>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">information about your use of this website;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">information about any travel plan you made by you on this website;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">information that you provide using for the purpose of registering with the website;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">information that you provide for the purpose of subscribing to the website services</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">information about the con-editors for any of your travel plan.</span>
        </div>
        <div class="title">Using personal information</div>
        <div class="text">
            FindFineTour may use your personal information to:  
            <br/>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">administer this website;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">personalize the website for you;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">publish information about you on the website;</span>
            <br/>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="inner_text_blk">send you marketing communications.</span>
        </div>
        <div class="text">
            FindFineTour may provide any travel plan made by you to other users of this website, without any compensation to you, provided that the travel plan is provided anonymously.
        </div>
        <div class="text">
            Where FindFineTour discloses your personal information to its agents, contractors or sub-contractors for these purposes, the agent, contractor or sub-contractor in question will be obligated by FindFineTour to use that personal information in accordance with the terms of this privacy statement.
        </div>
        <div class="text">
            In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, FindFineTour may disclose your personal information to the extent that it is required to do so by law in any jurisdiction, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
        </div>
        <div class="title">Cross-border data transfers</div>
        <div class="text">
            Information that FindFineTour collects may be stored and processed in and transferred between any of the countries in which FindFineTour operates to enable the use of the information in accordance with this privacy policy.
        </div>
        <div class="text">
            Personal information that you submit for publication on the website will be published on the internet and may be available around the world. You agree to such cross-border transfers of personal information.
        </div>
        <div class="title">Unenforceable provisions</div>
        <div class="text">
            If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
        </div>
        <div class="title">Updating this statement</div>
        <div class="text">
            FindFineTour may update this privacy policy by posting a new version on this website.
        </div>
        <div class="text">
            You should check this page occasionally to ensure you are familiar with any changes.
        </div>
        <div class="title">Contact</div>
        <div class="text">
            If you have any questions about this privacy policy or FindFineTour’s treatment of your personal information, please email to <a href="mailto:contact.findfine@gmail.com">contact.findfine@gmail.com.</a>
        </div>
    </div>
    <footer>
        <div class="container">
            <ul class="link_blk">
                <li><a href="/page/aboutUs">About Us</a></li>
                <li><a href="/page/termsOfUse">Terms & Conditions</a></li>
                <li><a>Cooperation</a></li>
                <li><a href="/page/contactUs">Contact Us</a></li>
            </ul>
            <div class="copyright_blk">Copyright © 2016 FindFineTour All rights reserved.</div>
        </div>
    </footer>
</body>

</html>
