<!DOCTYPE html>
<html>

<head>
    <title>Simple Map</title>
    <!-- jQuery core-->
    <script src="../static/vendor/jquery/dist/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&signed_in=true&language=en&amp;libraries=places&key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o"></script>
    <style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    #map {
        height: 100%;
    }
    </style>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $("#kqkq").click(function(event) {
            console.log($(this)[0].outerHTML);
        });
        geocodeAddress();
    });

    function geocodeAddress() {
        var geocoder = new google.maps.Geocoder();
        var address = "Taipei City, Taiwan";
        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                console.log(results);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    </script>
</head>

<body>
    <div id="map"></div>
    <p id="kqkq">dasdasdadasd</p>
</body>

</html>
