<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FindFineTour</title>
    <!-- jquery and jquery-ui -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/blitzer/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <!-- userinfo -->
    <link rel="stylesheet" type="text/css" href="/static/css/userinfo.css">
    <script type="text/javascript" src="/static/js/userinfo.js"></script>
</head>

<body>
    <div class="waiting_fullblk">
        <div class="waiting">
            <div class="logo icon-logo"></div>
            <div class="text">Loading...</div>
            <div class="shadow"></div>
        </div>
    </div>
    <h2>UserInfo Page</h2>
    <div>
        <div>
            Hello {{strTitle}} {{strFamilyName}} {{strGivenName}}
        </div>
        <div>
            <span>LatestUpdateTime:</span>
            <span>{{dtLatestUpdateTime}}</span>
        </div>
        <div>
            <span>Email:</span>
            <span>{{strEmail}}</span>
        </div>
        <div>
            <span>Level:</span>
            <span>{{strLevel}}</span>
        </div>
        <div>
            <span>Title:</span>
            <span>{{strTitle}}</span>
        </div>
        <div>
            <span>Family Name:</span>
            <span>{{strFamilyName}}</span>
        </div>
        <div>
            <span>Given Name:</span>
            <span>{{strGivenName}}</span>
        </div>
        <div>
            <span>Gender:</span>
            <span>{{strGender}}</span>
        </div>
        <div>
            <span>Birthday:</span>
            <span>{{dtBirthday}}</span>
        </div>
        <div>
            <span>Nationality:</span>
            <span>{{strNationality}}</span>
        </div>
        <div>
            <span>ContactNumber:</span>
            <span>{{strContactNumber}}</span>
        </div>
    </div>
    <span><a href="/account/sendEmailVerification">send Email verification</a></span>
    <span><a href="/account/login">login</a></span>
    <span><a href="/page/home">home</a></span>
</body>

</html>
