<!-- 
@TODO 
- 更改使用者名稱連結API
- log out 按鈕效果完成(選單一個、大頭像旁邊的齒輪內也有一個)
- 上傳照片替換掉原本照片的功能與連結API
- wishlist的資料夾抓API傳入真實資料
- 修改資料夾名稱完成後傳API
- 移除資料夾後傳API
- 點擊資料夾後挑選屬於該資料夾的WISHLIST
- WISHLIST的資料夾選項抓API抓真實資料
- WISHLIST的資料夾選項點擊後抓API
- 完成的NAV移入
- 完成的FOOTER移入

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FindFineTour</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/bootstrapCustom.css" rel="stylesheet">
    <!-- Bootstrap daterangepicker -->
    <link href="/static/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caudex|Cormorant+Garamond' rel='stylesheet' type='text/css'>
    <!-- custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- jQuery core-->
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&signed_in=true&language=en&amp;libraries=places&key=AIzaSyBNW1g69sGY8q_45F0Ob1lMbZn3fWyiL1o"></script>
    <!-- Bootstrap Js -->
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap SelectPicker Js -->
    <script src="/static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- moment -->
    <script src="/static/vendor/moment/min/moment.min.js"></script>
    <!-- Bootstrap DateRange Js -->
    <script src="/static/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- custom JavaScript -->
    <script src="/static/js/function.js"></script>
    <script type="text/javascript" src="/static/js/wishList.js"></script>
    <!-- 低瀏覽器版本相容條件註解 -->
    <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    <!-- ripple-button -->
    <link rel="stylesheet" href="/static/vendor/ripple/css/style.css">
    <script src="/static/vendor/ripple/js/index.js"></script>
    <!-- icon-font -->
    <link rel="stylesheet" href="/static/icon-font/style.css">
    <!-- google font Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script type="text/javascript">
    var strEmail = "{{strEmail}}";
    </script>
</head>

<body id="page-top" class="waiting_body">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="toolbox_blk">
        <div style="height: 30%"></div>
        <div class="gray_back_blk">
            <div class="content">
                <a target="_blank" href="https://www.skyscanner.com.tw/"><img id="agoda" src="/static/img/agoda.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.hotelscombined.com/"><img id="hotelsCombined" src="/static/img/hotelsCombined.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.agoda.com/partners/partnersearch.aspx?cid=1765710&pcs=1&hl=en&sort=star5To1"><img id="skyscanner" src="/static/img/skyscanner.png"></a>
            </div>
        </div>
        </div>
        <div class="container">
            <div id="headBtn" class="head_btn" style="background-image: url(/static/img/head_sample.jpg);">
                <div class="head_menu" id="headMenu">
                    <img src="/static/img/blk_triangle.png" class="triangle">
                    <div id="logOut" class="logout_btn">Log Out</div>
                </div>
                <span>&nbsp;</span>
                <span id="strEmail" style="font-style:oblique;color:orange"></span>
                <div class="noti_ing"></div>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="icon-logo" id="logoTop"></a>
                <div class="mini_searchbar">
                    <input type="text" name="" placeholder="Where are you going?" id="topSearch">
                    <span class="icon-magnifier"></span>
                </div>
            </div>
            <div class="header_btn_blk" id="bs-example-navbar-collapse-1">
                <div class="toolbox_btn icon-toolbox">
                    <span class="text">ToolBox</span>
                </div>
                <ul class="nav navbar-nav currency_sel_blk">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <div class="CurrencyDiv navSelect">
                            <select id="moneySelect" name="" class="bsSelect">
                                <option value="USD" data-content='USD'></option>
                                <option value="EUR" data-content='EUR'></option>
                                <option value="CNY" data-content='CNY'></option>
                                <option value="GBP" data-content='GBP'></option>
                                <option value="JPY" data-content='JPY'></option>
                                <option value="AUD" data-content='AUD'></option>
                                <option value="NZD" data-content='NZD'></option>
                                <option value="SGD" data-content='SGD'></option>
                                <option value="HKD" data-content='HKD'></option>
                                <option value="TWD" data-content='TWD'></option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div id="wishList" class="header_btn btn-info">
                    <span class="icon_blk">                  
                                <span class="icon-quill"></span>
                    <span class="icon-scroll"></span>
                    <span class="extend_line"></span>
                    </span>
                    <span class="text">Wishlist</span>
                </div>
                <div id="myPlans" class="header_btn btn-info">
                    <span class="icon_blk">
                                <span class="icon-airplane"></span>
                    <span class="icon-notebook"></span>
                    <svg class="extend_dotted_line">
                        <g fill="none" stroke="#ffffff" stroke-width="1">
                            <path stroke-dasharray="5,5" d="M0 0 80 0" />
                        </g>
                    </svg>
                    </span>
                    <span class="text">My Plan</span>
                </div>
                <div id="register" class="header_blk_btn hide">Sign Up</div>
                <div id="loginBtn" class="header_blk_btn hide">Log In</div>
                <div id="padMenuBtn" class="header_menu_btn icon-menu"></div>
                <div id="mobileMenuBtn" class="header_menu_btn icon-menu"></div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="waiting_fullblk">
        <div class="waiting">
            <div class="logo icon-logo"></div>
            <div class="text">Loading...</div>
            <div class="shadow"></div>
        </div>
    </div>
    <div class="pad_menu" id="padMenu">
        <div class="close_btn icon-cancel"></div>
        <div class="login_btns">
            <div class="pad_menu_btn" id="padWishlist">
                <span class="icon icon-wishlist"></span>
                <span>Wishlist</span>
            </div>
            <div class="pad_menu_btn" id="padMyPlan">
                <span class="icon icon-myplan"></span>
                <span>My Plan</span>
            </div>
        </div>
    </div>
    <div class="rename_blk lightbox">
        <div class="content_blk">
            <div class="title">Edit Name</div>
            <input type="text" placeholder="Your Name"></input>
            <div class="ripple_blk confirm_btn">
                <button type="button" class="ripple">Confirm</button>
            </div>
            <div class="close_btn icon-cancel"></div>
        </div>
        <div class="blur_bg"></div>
    </div>
    <div class="add_folder_blk lightbox">
        <div class="content_blk">
            <div class="title">Create A New Folder</div>
            <input type="text" placeholder="Folder’s Name"></input>
            <div class="ripple_blk confirm_btn">
                <button type="button" class="ripple">Create</button>
            </div>
            <div class="close_btn icon-cancel"></div>
        </div>
        <div class="blur_bg"></div>
    </div>
    <div class="rename_folder_blk lightbox">
        <div class="content_blk">
            <div class="title">Rename This Folder</div>
            <input type="text" placeholder="Folder’s Name"></input>
            <div class="ripple_blk confirm_btn">
                <button type="button" class="ripple">Rename</button>
            </div>
            <div class="close_btn icon-cancel"></div>
        </div>
        <div class="blur_bg"></div>
    </div>
    <div class="wishlist_top_blk" style="background-image: url(/static/img/sunset_re.jpg);">
        <div class="content_blk">
            <div class="big_head_blk">
                <div class="big_head" style="background-image: url(/static/img/head_sample.jpg);"></div>
            </div>
            <div class="name_blk">
                <div class="inner_blk">
                    <div class="user_name" id="userName"></div>
                    <span class="icon-gear" id="personelSet"></span>
                    <ul class="setting_menu">
                        <li id="editName">Edit name</li>
                        <li id="newPhoto">
                            <input type="file" value="Upload New Photo">
                            <p>Upload New Photo</p>
                        </li>
                        <li id="innerLogOut">Log Out</li>
                    </ul>
                </div>
            </div>
            <div class="sub_header_blk">
                <div class="inner_blk">
                    <div class="plans" id="plansSel">
                        <div class="number" id="planTopNum">0</div>
                        <div class="text">Plans</div>
                        <div class="acting_line"></div>
                    </div>
                    <div class="wishes active">
                        <div class="number" id="wishTopNum">0</div>
                        <div class="text">Wishes</div>
                        <div class="acting_line"></div>
                    </div>
                    <div class="friends" id="friendsSel">
                        <div class="number">132</div>
                        <div class="text">Friends</div>
                        <div class="acting_line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainblk_bg_cover"></div>
    </div>
    <div class="folder_blk">
        <div class="blk_title">MY WISHLIST</div>
        <div class="sub_text_line">
            <div class="inner_blk">
                <div id="tourSubText">
                    <span class="number" id="innerWishNum">80</span>
                    <span class="text">Tours</span>
                </div>
                <div id="folderSubText">
                    <span class="number" id="innerFolderNum">2</span>
                    <span class="text">Folders</span>
                </div>
            </div>
        </div>
        <div class="ing_folder_blk" data-ingfoldEq="0">
            <div class="back_btn icon-back_arrow"></div>
            <div class="ing_folder">
                <p class="ing_back_text">Folders</p>
                <div class="hori_sepline"></div>
                <p class="name"></p>
                <span id="ingFolderName"></span>
                <div class="ing_folder_more_blk">
                    <div class="ing_folder_more_btn icon-more_btn"></div>
                    <ul class="menu">
                        <li class="rename_ingfolder_btn">Rename Folder</li>
                        <li id="innerRemoveBtn">Remove Folder</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="folders">
            <div class="inner_blk" id="foldersBlk">
                <div class="newfolder" id="addNewFolder">
                    <div class="card">
                        <span class="icon-plus"></span>
                        <p class="text">Create A New Folder</p>
                    </div>
                </div>
                <!-- <div class="folder">
                    <div class="card">
                        <div class="pic_blk">
                            <div class="pic_1" style="background-image: url(/static/img/kyoto-86202_1920.jpg);"></div>
                            <div class="pic_2" style="background-image: url(/static/img/mickey-mouse-832110_1920.jpg);"></div>
                            <div class="pic_3" style="background-image: url(/static/img/lanterns-1043416_1920.jpg);"></div>
                        </div>
                        <div class="text_blk">
                            <div class="folder_name">Japan</div>
                            <div class="tour_text">Tour</div>
                            <div class="tour_qua">53</div>
                            <span class="more_btn icon-more_btn"></span>
                        </div>
                    </div>
                    <ul class="menu">
                        <li class="rename_folder_btn">Rename Folder</li>
                        <li>Remove Folder</li>
                    </ul>
                </div>
                <div class="folder">
                    <div class="card">
                        <div class="pic_blk">
                            <div class="empty">
                                <p class="big_text">Oops ! </p>
                                <p class="text">This Folder is Empty.</p>
                            </div>
                        </div>
                        <div class="text_blk">
                            <div class="folder_name">@Q@</div>
                            <div class="tour_text">Tour</div>
                            <div class="tour_qua">0</div>
                            <span class="more_btn icon-more_btn"></span>
                        </div>
                    </div>
                    <ul class="menu">
                        <li class="rename_folder_btn">Rename Folder</li>
                        <li>Remove Folder</li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="wish_dashed_line"></div>
    </div>
    <div class="content_blk">
        <div class="sortedBy sort_blk hide">
            <p class="text">Sort By</p>
            <div class="sort_sel_blk">
                <div id="sortValBtn" class="left sel">
                    <span class="click sort_val">Rating</span>
                    <span class="click icon-dropdown_icon"></span>
                    <ul class="left_drop drop">
                        <li>Rating</li>
                        <li>Budget</li>
                        <li>Duration</li>
                    </ul>
                </div>
                <div class="sepline"></div>
                <div id="sortWayBtn" class="right sel">
                    <span class="click sort_val">Decending</span>
                    <span class="click icon-dropdown_icon"></span>
                    <span class="click icon-diagram_up reverse"></span>
                    <ul class="right_drop drop">
                        <li>
                            <i class="icon-diagram_up"></i>
                            <span class="content">Ascending</span>
                        </li>
                        <li>
                            <i class="icon-diagram_down"></i>
                            <span class="content">Decending</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="wish_blk">
            <!-- <div class="wish">
                <div class="card active" style="background-image:url(https://en.tripbaa.com/travel/20150324114507llf/downloads/customer/10000/1000/29ukrcu/travel/plan_2015070114565833_s.jpg);">
                    <div class="name">
                        <p>The Taiwanese hand puppet show</p>
                    </div>
                    <p class="place">Taipei</p>
                    <p class="duration">3<span>HR</span></p>
                    <div class="price"><span class="country">GBP</span> $<span class="number">22</span></div>
                    <div class="footprint_blk"><span class="icon-tourdash footprint"></span></div><a target="_blank" href="https://en.tripbaa.com/travel/20150324114507llf/?&amp;ccid=JCU1IyE=" class="read_more_btn">Read More</a>
                    <div class="folder_sel_btn">
                        <div class="text">Choose Folders</div><i class="icon-dropdown_icon"></i></div>
                    <div class="darken_bg"></div>
                </div>
                <ul class="menu">
                    <li><span>favorite</span><i class="icon-checkmark"></i></li>
                    <li><span>japan</span><i class="icon-checkmark"></i></li>
                    <li><span>with parents</span><i class="icon-checkmark"></i></li>
                </ul>                
                <div class="more_blk">
                    <div class="more_btn icon-more_btn"></div>
                    <ul class="more_menu">
                        <li>Remove Tour</li>
                    </ul>
                </div>
            </div> -->
        </ul>
    </div>
    <footer>
        <div class="container">
            <ul class="link_blk">
                <li><a href="/page/aboutUs">About Us</a></li>
                <li><a href="/page/termsOfUse">Terms & Conditions</a></li>
                <li><a href="/page/cooperation">Cooperation</a></li>
                <li><a href="/page/contactUs">Contact Us</a></li>
            </ul>
            <div class="copyright_blk">Copyright © 2016 FindFineTour All rights reserved.</div>
        </div>
    </footer>
</body>

</html>
<script type="text/javascript">
    $('#strEmail').html("Hi ! "+strEmail);
    $('#userName').html(strEmail);
    
</script>
